/*/
!wp-content/
wp-content/*/
!wp-content/themes/
wp-content/themes/*/
!wp-content/themes/tp2/
!wp-content/plugins/
wp-content/plugins/*/
!wp-content/plugins/carrousel/
!wp-content/plugins/voyage/
// Ne pas ignorer les fichiers .gitignore et readme.md à la racine
!.gitignore
!.gitmodules
!readme.md